:root {
  --inner-padding: 25px;
  --border-color: #222;
}
* {
  margin: 0;
  padding: 0;
  outline: 0 !important;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html {
}
body {
  background: #555;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell,
    "Helvetica Neue", sans-serif;
}
.wrapper {
  /* background: #fff; */
  /* width: calc(2480px / 2);
  height: calc(3508px / 2); */
  width: 1240px;
height: 1754px;
  background: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url(./bg.png);
  background-repeat: no-repeat;
  background-size: contain;
  padding: 30px 82px 30px;
  background: #fff;
  height: auto;
}
.para-1 {
  display: flex;
  justify-content: space-between;
  /* padding: 0 var(--inner-padding) 0; */
}
.para-1 .img-1 {
  height: 98px;
  width: auto;
}
.para-1 div {
  text-align: center;
}
.para-1 div .p-1 {
  margin: 18px 0 0;
  font-size: 30px;
  font-weight: 600;
  letter-spacing: 0px;
}
.para-1 div .p-2 {
  margin: 8px 0 0;
  font-weight: 500;
  font-size: 27px;
}
.para-1 .img-2 {
}
.para-2 {
  text-align: center;
  font-size: 28px;
  font-weight: 600;
  letter-spacing: -0.6px;
  border: 2px solid var(--border-color);
  padding: 5px 0 0 0;
  margin: 11px 0 0 0;
  border-width: 3px 0;
  line-height: 29px;
}
.para-3 {
  text-align: center;
  font-size: 28.2px;
  font-weight: 500;
  letter-spacing: -0.6px;
  border: 2px solid;
  padding: 2px 0 0;
  margin: 0px 0 0;
  border-width: 0 0 2px;
  line-height: 36px;
  border-color: red;
}
.para-3 .p-3 {
}
.para-3 .p-4 {
}
.para-4 {
  padding: 25px 0 0;
  border-top: 2px solid blue;
  margin: 0 0 0;
  font-size: 21px;
  line-height: 31px;
}
.para-4 .p-5 {
  background: hsl(0deg 0% 89.8%);
  padding: 8px 10px 32px;
}
.para-4 .p-6 {
  background: hsl(0deg 0% 89.8%);
  padding: 0 10px 10px;
}
.para-4 .p-6 b {
  font-size: inherit;
  line-height: inherit;
}

.para-5 {
  margin: 18px 0 0;
  font-size: 28px;
  border: 2px solid #a2a2a2;
  padding: 16px 0 0 25px;
  background: hsl(300deg 5.26% 96.27%);
}
.para-5 div {
  display: flex;
  flex-wrap: wrap;
}
.para-5 .div-1 {
  font-weight: 500;
  margin: 0 0 10px;
}
.para-5 .div-1 p {
  width: 50%;
}
.para-5 .div-2 {
  font-weight: 500;
}
.para-5 .div-2 p {
  width: 436px;
}
.para-5 .div-2 p.p-9 {
  width: auto;
  margin: 9px 0 0 -21px;
}
.para-5 .b-box {
  border: 3px solid var(--border-color);
  padding: 7px 10px 7px;
}
.div-3 {
  font-weight: 500;
}
.div-3 p {
  width: 50%;
  height: 156px;
}
.div-3 p span {
  display: block;
}
.div-3 p .b-box {
}
.div-3 p .b-box u {
}
.div-3 .p-7 {
  margin: 30px 0 0 0;
  padding: 0 0 0 37px;
}
.div-3 .p-8 {
  display: flex;
  align-items: center;
  padding: 0 0 40px 20px;
  font-size: 40px;
  height: 186px;
  border-bottom: 0;
  width: 511px;
}

.para-6 {
  margin: 31px 0 0;
  font-size: 25px;
  border: 2px solid #a2a2a2;
  padding: 30px 0 15px 25px;
  background: hsl(300deg 5.26% 96.27%);
  position: relative;
  font-weight: 500;
}
.para-6 .p-10 {
  position: absolute;
  top: -17px;
  left: 25px;
  background: hsl(300deg 5.26% 96.27%);
  border: 2px solid #a2a2a2;
  font-size: 23px;
  font-weight: 500;
  padding: 5px 12px 4px;
}
.para-6 .div-10 {
  display: flex;
  flex-wrap: wrap;
}
.para-6 .div-10 > div {
  width: 50%;
  display: flex;
  flex-wrap: wrap;
}
.para-6 .div-10 > div > div {
  display: flex;
  width: 100%;
  padding: 0 0 5px;
  flex-wrap: wrap;
}
.para-6 .div-10 p {
  text-align: right;
  width: 50%;
  padding: 0 10px 0 0;
}
.para-6 .div-10 u {
  width: 49%;
  display: block;
  text-decoration: none;
  border-bottom: 3px solid #444;
}

.para-7 {
  margin: 31px 0 0;
  font-size: 24px;
  border: 2px solid #a2a2a2;
  padding: 30px 0 0 0;
  background: hsl(300deg 5.26% 96.27%);
  position: relative;
  font-weight: 500;
}
.p-11 {
  position: absolute;
  top: -17px;
  left: 25px;
  background: hsl(300deg 5.26% 96.27%);
  border: 2px solid #a2a2a2;
  font-size: 23px;
  font-weight: 500;
  padding: 5px 12px 4px;
}
.para-7 > div {
  display: flex;
  flex-wrap: wrap;
}
.para-7 > div > div {
}
.div-11 {
}
.div-12 {
  width: 50%;
}
.div-12 > div {
  display: flex;
  flex-wrap: wrap;
  padding: 5px 0 8px;
}
.div-13 {
}
.p-14 {
  width: 49%;
  text-align: right;
  font-weight: 400;
  padding-right: 10px;
  padding: 0 14px 0 15px;
}
.p-15 {
  width: 10%;
}
.p-16 {
  font-weight: 400;
}
.div-14 {
}
.div-15 {
  border: 2px solid var(--border-color);
  border-width: 2px 0;
}
.p-17 {
}

.div-16 {
}
.p-18 {
  padding: 0 0 0 60px;
  margin: 0 0 0 0;
}
.p-19 {
  padding: 19px 0 0 86px;
  font-size: 40px;
}

.para-8 {
  display: flex;
  flex-wrap: wrap;
  padding: 4px 0 0;
}
.para-8 > div {
  width: 33.33%;
  font-size: 26px;
}
.para-8 .div-17 {
}
.para-8 .div-17 img {
  height: 79px;
  margin: 4px 0 0 14px;
  width: auto;
}
.para-8 .div-18 {
}
.para-8 .div-18 img {
  height: 184px;
  width: auto;
  margin: 2px 0 0 75px;
}
.para-8 .div-19 {
}
.para-8 .div-19 .p-20 {
  border-top-width: 0;
  padding: 0 0 0 102px;
  margin: 5px 0 0 0;
}
.para-8 .div-19 .p-21 {
  padding: 18px 0 0 122px;
}
.para-8 .div-19 img {
  height: 79px;
  margin: 4px 0 0 95px;
  width: auto;
}
.para-8 .p-20 {
  margin: 8px 0 0 0;
  padding: 6px 0 0 24px;
  border-top: 2px solid var(--border-color);
}
.para-8 .p-21 {
  padding: 13px 0 0 24px;
}
